# Set the project id
project_id = "<PROJECT_ID>"

# Users to be granted access to the project
project_users = ["user1@example.com", "user2@example.com", "user3@example.com"]

# Default region
region = "<DEFAULT_REGION : eg. asia-southeast1>"

# BiqQuery reservations region
bq_region = ""   # possible values are "us-central1" and "us"

# Vertex AI region
vertex_ai_region = "<VERTEX_AI_REGION : eg. us-central1>" # possible values are "asia-southeast1", "us-central1" and "europe-west4"

# AlloyDB password
alloydb_initial_password = "" # set an initial password for alloydb